body {
    margin: 0;
    overflow: hidden;
}

.background {
    position: fixed;

    width: 100%;
    height: 100vh;

    top: 0;
    left: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: opacity 1s ease;
}

.bg1 {
    background-image: url("image/P5.png");
    opacity: 1;
}

.bg2 {
    background-image: url("image/P3.jpg");
    opacity: 0;
}

.bg3 {
    background-image: url("image/P6.png");
    opacity: 0;
}

.content {
    position: relative;
    z-index: 10;

    color: white;
}